<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469009119595-359amar6s6dstfaoem31gusa1fv8sceq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469009119595-359amar6s6dstfaoem31gusa1fv8sceq</string>
	<key>API_KEY</key>
	<string>AIzaSyBVFvRDbNRYVbuq_nG4PpwdKHjnHKK-TeI</string>
	<key>GCM_SENDER_ID</key>
	<string>469009119595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pixel.mechanic</string>
	<key>PROJECT_ID</key>
	<string>mechanic-assistance-f3e3d</string>
	<key>STORAGE_BUCKET</key>
	<string>mechanic-assistance-f3e3d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469009119595:ios:a1c96b961c42ec48d7342e</string>
</dict>
</plist>